body {
	background-color: #fff;
}

#projects {
	margin: auto;
	padding:0;
	width: 650px;
}

.project-div {
	position: relative;
	top: 80px;
}

.project {
	margin-bottom: 25px;
	width: 100%;
	padding: 0;
	position: relative;
}

.project h2.project-name h3.project-name{
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	font-size: 3em;
	font-family:courier, sans-serif;
}

.project .project-description {
	position: absolute;
	top: 0;
	left: 100%;
	margin-left: 10px;
	font-family: courier, sans-serif;
}

.project .project-description ul {
	list-style: none;
	padding: 0;
}