<!doctype html>
<html class="no-js" lang="en">

<head id="header">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Nathan Berryhill for Texas House of Representatives District 54</title>
    <meta name="description" content="Nathan Berryhill is a pro-business Republican and he's running to represent District 54 in the Texas House of Representatives.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
    
    <!-- CSS -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/assets/css/icon-font.min.css">
    
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/assets/css/plugins.css">
    
    <!-- VMap CSS -->
    <link rel="stylesheet" href="/assets/css/jqvmap.min.css">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    
    <!-- Modernizer JS -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- jQuery JS -->
    <script src="/assets/js/vendor/jquery-1.12.0.min.js"></script>
</head>
<body>
    <div class="header-section section">
        <!-- Header Bottom Start -->
        <div class="header-bottom header-sticky">
            <div class="container">
                <div class="row">
                            
                    <!-- Logo Start -->
                    <div class="col">
                        <a href="/" class="logo"><img width="200px" src="/assets/images/logoa.jpg" alt="Logo"></a>
                    </div><!-- Logo End -->

                    <!-- Main Menu Start -->
                    <div class="col d-none d-lg-block">
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li id="index" class="active"><a href="/">Home</a></li>
                                    <li id="about"><a href="/about">About</a></li>
                                    <li id="issue" class="menu-item-has-children"><a href="/issues">Issues</a>
                                        <ul class="sub-menu">
                                            <li><a href="/issues/border/">Border Security</a></li>
                                            <li><a href="/issues/justice/">Criminal Justice</a></li>
                                            <li><a href="/issues/energy/">Energy</a></li>
                                            <li><a href="/issues/university/">Higher Education</a></li>
                                            <li><a href="/issues/life/">Life</a></li>
                                            <li><a href="/issues/education/">Public Educaton</a></li>
                                            <li><a href="/issues/taxes/">Property Taxes</a></li>
                                            <li><a href="/issues/elections/">Redistricting</a></li>
                                            <li><a href="/issues/transparency">Transparency</a></li>
                                            <li><a href="/issues/veterans/">Veterans</a></li>
                                        </ul>
                                    </li>
                                    <li id="cmpgn"><a href="/events">Events</a></li>
                                    <li id="news"><a href="/news">News</a></li>
                                    <li id="endo"><a href="/endorsements">Endorsements</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div><!-- Main Menu End -->

                    <!-- Mobile Menu Start -->
                    <div class="d-block d-lg-none col"><nav>
                                <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"> Menu</i><ul id="myLinks" style="display:none"></a>
                                    <li id="index" class="active"><a href="/">Home</a></li>
                                    <li id="about"><a href="/about">About</a></li>
                                    <li id="issue"><a href="/issues">Issues</a></li>
                                    <li id="cmpgn"><a href="/events">Events</a></li>
                                    <li id="news"><a href="news">News</a></li>
                                    <li id="endo"><a href="/endorsements">Endorsements</a></li>
                                </ul>
                            </nav></div><!-- Mobile Menu End -->

                    <!-- Header Button Start -->
                    <div class="col">
                        <div class="header-button">
                            <a href="/donate" class="btn btn-red">Donate</a>
                        </div>
                    </div><!-- Header Button End -->
                    
                </div>
            </div>
        </div><!-- Header Bottom End -->
    </div>