body {
    font-family: Helvetica, Verdana, Tahoma, Sans-Serif;
    font-size: .8em;
    color:#000;
    margin:0 auto;
    padding:0;
}
p {
    line-height:1.5;
}
h1, h2, h3{
    line-height:1.5;
}

#mainheader {
    background:darkseagreen;
    height:3em;
    color: #000;
    font-size: 2em;
    padding-left:5em;
    padding-top:1em;
}
#leftheader {
    font-size: 1.5em;
}
#rightheader {
    padding-left: 30em;
    font-size: .7em;
}

#header1 {
    background:#FFF;
    height:3em;
    color: #000;
    font-size: 2em;
    padding-left: 10em;
    padding-top:1em;
}

#nav {
    color:#000;
    padding:1em;
    padding-left:0;
    padding-bottom: 3em;
}
#nav a {
    color:#000;
    text-decoration:none;
    font-weight: 600;
    }
#nav a:hover{
    color:#000;
    text-decoration:none;
    font-weight: 700;
    background:white;
    }

.clear {clear:both;}

.float-left-nav {
    text-align:center;
    float:left;
    padding-left: .5em;
    width: 7%;
    font-size:.9em;
    margin:0 3% 0% 3%;
    }

#content-wrapper {
    margin-top:1em; 
    margin-left:21em;
    margin-right:0em;
    margin-bottom: 1em;
    padding-left:2em;
    padding-right:2em;
    padding-bottom:.5em;
    border-left: 1px solid black;

    }
#content-wrapper  a{
    /*color:#a09373;
    color: #766a51;*/
    text-decoration:none;
    }
#content-wrapper a:hover {
    /* color:#766a51;*/
    background: darkseagreen;
    text-decoration:none;
    }
#warning {
    color:red;
    line-height: normal;
    font-size:0.9em;    
}
#right-menu {
   position:absolute;
   top: 12em;
   width: 15em;
   right: 10em;
   padding:.5em;
}
#left-menu {
    position:absolute;
    left:5em; 
    width:15em;
    line-height:1.8em;
    top:13em;
    padding-left:.5em;  
    }
#left-menu a {
     color:#000;
     line-height:1.8em;
     text-decoration:none;
     }
 #left-menu a:hover {
    color:#000;
    line-height:1.8em;
    background: darkseagreen;
    text-decoration:none;
    }
.footer {
    font-size: .8em;
    padding:1em;
    }
.floatleft {
    float:left;
    width:40%;
    line-height: 1.3em;
    }
.floatleftBig {
    float:left;
    padding:.2em 0;
    width:40%;
    line-height: 1.3em;
    font-size:1.1em;
    padding-left:2em;
    text-indent: -2em;
    }

.bigfont {
    font-size:1.2em;
    font-weight: 700;
    }
.indent5 {
    margin-left:5em;
    }

.medium {
    font-size:.8em;
    padding-left: 3em;
}

.small {
    font-size:.6em;
    padding-left: 3em;
}

.hangingIndent {
    padding-left:2em;
    text-indent: -2em;
}
