<!doctype html>
<html class="no-js" lang="en">

<head id="header">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Nathan Berryhill for Texas House of Representatives District 54</title>
    <meta name="description" content="Nathan Berryhill is a pro-business Republican and he's running to represent District 54 in the Texas House of Representatives.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
    
    <!-- CSS -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/icon-font.min.css">
    
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    
    <!-- VMap CSS -->
    <link rel="stylesheet" href="assets/css/jqvmap.min.css">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
</head>
<body>
    <div class="header-section section">
        <!-- Header Bottom Start -->
        <div class="header-bottom header-sticky">
            <div class="container">
                <div class="row">
                            
                    <!-- Logo Start -->
                    <div class="col">
                        <a href="index.html" class="logo"><img width="200px" src="assets/images/logoa.jpg" alt="Logo"></a>
                    </div><!-- Logo End -->

                    <!-- Main Menu Start -->
                    <div class="col d-none d-lg-block">
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li id="index" class="active"><a href="index.html">Home</a></li>
                                    <li id="about"><a href="about.html">About</a></li>
                                    <li id="issue" class="menu-item-has-children"><a href="issues.html">Issues</a>
                                        <ul class="sub-menu">
                                            <li><a href="issue-details.html?issue=cbp">Border Security</a></li>
                                            <li><a href="issue-details.html?issue=cjr">Criminal Justice</a></li>
                                            <li><a href="issue-details.html?issue=nrg">Energy</a></li>
                                            <li><a href="issue-details.html?issue=hed">Higher Education</a></li>
                                            <li><a href="issue-details.html?issue=lfe">Life</a></li>
                                            <li><a href="issue-details.html?issue=ped">Public Educaton</a></li>
                                            <li><a href="issue-details.html?issue=ptx">Property Taxes</a></li>
                                            <li><a href="issue-details.html?issue=elr">Redistricting</a></li>
                                            <li><a href="issue-details.html?issue=gov">Transparency</a></li>
                                            <li><a href="issue-details.html?issue=vet">Veterans</a></li>
                                        </ul>
                                    </li>
                                    <li id="cmpgn"><a href="events.html">Events</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div><!-- Main Menu End -->

                    <!-- Mobile Menu Start -->
                    <div class="mobile-menu d-block d-lg-none col"><nav>
                                <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"> Menu</i><ul id="myLinks" style="display:none"></a>
                                    <li id="index" class="active"><a href="index.html">Home</a></li>
                                    <li id="about"><a href="about.html">About</a></li>
                                    <li id="issue" class="menu-item-has-children"><a href="issues.html">Issues</a>
                                    </li>
                                    <li id="cmpgn"><a href="events.html">Events</a></li>
                                </ul>
                            </nav></div><!-- Mobile Menu End -->

                    <!-- Header Button Start -->
                    <div class="col">
                        <div class="header-button">
                            <a href="donate.html" class="btn btn-red">Donate</a>
                        </div>
                    </div><!-- Header Button End -->
                    
                </div>
            </div>
        </div><!-- Header Bottom End -->
    </div>

    <div id="content" class="main-wrapper">
        {{ content }}
    </div>

    <style>p.disclaimer {
    text-transform: uppercase;
    font-size: .6em;
    letter-spacing: .1em;
    border: solid 1px #000;
    color: #000;
    text-align: center;
    max-width: 400px;
    display: block;
    margin: 0px auto 10px auto;
    font-family: "serif";
    padding: 2px 5px; }</style>

<div class="footer-top-section section bg-cyan-blue pt-40 pb-20">
        <div class="container">
            <div class="row">
                
                <!-- Footer Widget Start -->
                <div class="footer-widget text-left col-lg-4 col-md-6 col-12 mb-0">
                    
                    <h3 class="title"><font color="#002768">Contact</font> <span>Us</span></h3>
                    
                    <ul class="contact-list" style="color:#fff">
                        <!-- <li><span>Phone:</span> <a href="tel:+18008000800">+1 800 800 0800</a></li>-->
                        <li><span>Email:</span><a id="email"></a></li>
                        <li><span>Address:</span><br> P.O. Box 1555<br>Lampasas, TX 76550</li>
                    </ul>
                    
                </div><!-- Footer Widget End -->
                
                <!-- Footer Widget Start -->
                <div class="footer-widget text-center col-lg-4 col-md-6 col-12 mb-0">
                    
                    <div class="footer-about">
                       
                        <!-- Logo -->
                        <img width="75%" src="assets/images/logoa.jpg" alt="Logo">

                        <p>Nathan Berryhill is running to represent <a style="color:#be0a2f;" href="assets/images/54.pdf">District 54</a> in the Texas House of Representatives and he needs your support.</p>

                        <!-- Social -->
                        <div class="footer-social">
                            <a class="facebook" href="https://www.facebook.com/nathanberryhill4TX/"><i class="fa fa-facebook"></i></a>    
                            <a class="twitter" href="https://twitter.com/nathanberryhill" target="_new"><i class="fa fa-twitter"></i></a>    
                            <a class="instagram" href="https://instagram.com/nathanberryhill" target="_new"><i class="fa fa-instagram"></i></a> 
                        </div>
                        
                    </div>
                    
                </div><!-- Footer Widget End -->
                
                <!-- Footer Widget Start -->
                <div class="footer-widget text-right col-lg-4 col-md-6 col-12 mb-0">
                    
                    <h3 class="title"><font color="#002768">INSTAGRAM</font> <span>photos</span></h3>
                    
                    <div class="footer-instagram">
                        <ul id="instagram-feed"></ul>
                    </div>
                    
                </div><!-- Footer Widget End -->
                
            </div>
        </div>
    </div><!-- Footer Top Section End -->

    <!-- Footer Bottom Section Start -->
    <div class="footer-bottom-section section">
        <div class="container">
            <div class="row">
                
                <!-- Footer Copyright -->
                <div class="footer-copyright text-center col-12">
                    <p class="disclaimer">Pol. adv. paid for by the Nathan Berryhill Campaign &copy; 2019.</p>
                </div>
                
            </div>
        </div>
    </div>
<script src="assets/js/email.js"></script>

</body>
<!-- JS
============================================ -->
<!-- Popper JS -->
<script src="assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>
<script src="assets/js/email.js"></script>
<script>
function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>
</html>
