{% include header.html %}

<!-- News Section Start -->
    <div class="news-section section pt-120 pb-0">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-8 col-12 mb-0" style="margin:auto">
                    <div class="row">

                        <!-- News Start -->
                        <div class="single-news col-12 mb-0">

                            <!-- Image -->
                            <div class="image"><img id="img1" src="{{ site.data.issues[page.title].img1 }}" alt="News Details" style="margin:auto; display:block"></img></div>

                            <!-- Content -->
                            <div class="content">
                                <h3 id="big">{{ site.data.issues[page.title].big }}</h3>
                                <p id="p1">{{ site.data.issues[page.title].p1 }}</p>
                                <p id="p2">{{ site.data.issues[page.title].p2 }}</p>
                                <h3 id="big2">{{ site.data.issues[page.title].big2 }}</h3>
                                <p id="p3">{{ site.data.issues[page.title].p3 }}</p>
                            </div>
                            
                            <!-- News Footer -->
                            <div class="news-footer">
                                
                                <!-- Share -->
                                <div class="news-share">
                                    <!-- <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/nathanberryhill"><i class="fa fa-twitter"></i></a>
                                    <a href="https://instagram.com/nathanberryhill"><i class="fa fa-instagram"></i></a>-->
                                </div>
                                
                            </div>

                        </div><!-- News End -->
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div><!-- News Section End -->
<script type="text/javascript">
    $('#index').removeClass('active');
    $('#issue').addClass('active');
</script>
{% include footer.html %}